name: Steamrip Scraper

"on":
  schedule:
    - cron: "0 0 * * *"  # Runs daily at midnight UTC
  workflow_dispatch:
    # Allows for manual triggering of the workflow

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set Up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install Requirements
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt

    - name: Run Scraper
      run: python scrape_steamrip.py

    - name: Upload Output Files
      uses: actions/upload-artifact@v3
      with:
        name: scraper-output
        path: |
          All.Games.json
          New.Games.json
        if-no-files-found: warn
